
:root{
  --cor-primaria: #111;
  --cor-secundaria: #000;
  --cor-fontes:#ffffff;
  --cor-destaques:red;
  --cor-botao-clicado: pink;
} 




@media(prefers-colors-scheme: dark){
  :root{
    --cor-primaria: #f7f7f7;
    --cor-secundaria: #ffffff;
    --cor-fontes:#000000;
    --cor-destaques:red;
    --cor-botao-clicado: pink;
  }
}


body {
  margin: 0;
  background-color: var(--cor-primaria);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  gap: 3.75rem;
  margin-top: 3.75rem;
}

img {
  max-width: 100%;
  display: block;
  height: 100%;
}

.header{
  display: grid;
  justify-items: center;
  gap: 3.75rem;
}

a {
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;
 
}

ul{
  list-style: none;
}

.menu a {
  background-color: var(--cor-secundaria);
  color: var(--cor-fontes);
  padding: 1rem 2rem;
  display: block;
  border: 1px solid var(--cor-secundaria);
 

}

.menu a:hover {
  border: 1px solid var(--cor-destaques);
}

.verMais{
  text-align: end;
  display: inline-block;
  background-color: var(--cor-destaques);
  color: var(--cor-primaria);
  border-radius: 0.31rem;
  padding: 1.25rem 1.87rem;
}

.introducao a:hover{
  background-color: var(--cor-botao-clicado)
}


li{
  text-align: center;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  text-align: center;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  color: var(--cor-fontes);
}

.introducao{
  background-color: var(--cor-secundaria);
  padding: 2.5rem;
  text-align: right;
  position: relative;
  display: grid;
  justify-items: end;
  gap: 1.25rem;

}

.introducao h1{
  font-size: 2rem;
}


.introducao ::before{
  content: "";
  width: 3.75rem;
  height: 0.25rem;
  background-color: var(--cor-destaques);
  position: absolute;
  top: 1.87rem;
  right: -1.87rem;
}

.btn {
  background-color: var(--cor-destaques);
  color: var(--cor-primaria);
  padding: 1.06rem 1.87rem;;
  border-radius: 4px;
  text-transform: uppercase;
}

.subtitulo{
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2)!important;
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background-image: url('/Refatorar-exercicio/img/onda.svg');

}

.vantagens {
  padding: 2.5rem;
  background-color: var(--cor-secundaria);
}

.vantagens-itens{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.62rem 1.25rem;
  padding: 2rem;
  background-color: --cor-primaria;
  border-left: 4px solid var(--cor-secundaria);
}

.vantagens-itens:hover{
  border-color: var(--cor-destaques);
}

.vantagens-itens p {
  grid-column: 2;
}

.rodape{
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}

.vantagens-itens:nth-child(odd){
  background-color: var(--cor-primaria)
}


.bike img{
  object-fit: cover;
  height: 100%;
}


@media (max-width: 1000px){

  .conteudo-vantagem{
    grid-template-columns: 1fr;
  }
  .subtitulo{
    text-align: center;
  }
}
  

@media (max-width: 600px){
  body{
    gap: 30px;
    margin-top: 20px;
  }
  .header{
    gap: 30px;
  }

  .conteudo{
    grid-template-columns: 1fr;
  }
  .subtitulo{
    text-align: center;
    font-size: 3rem;
  }
  .introducao{
    text-align: left;
    justify-items: start;
  
  }
  .introducao ::before{
    content: none;

  }
}
  
